streamlit
python-dotenv
aiofiles
requests
urllib
azure-storage-filedatalake-aio
azure-storage-filedatalake
mimetypes
logging
pprint
os
time
re
langchain-groq
langchain
sentence-transformers
groq
typing
pinecone
yt-dlp
pydub